@import "./variables.styl"

.module
  display flex
  margin-top 2.4rem
  margin-left 2.4rem

  .index
    $index()

  .content

    p
      width $content-width

      &:first-of-type
        margin-top 0
      
      &:last-of-type
        margin-bottom 0

    img
      max-width $broad-width
      border 3px solid $red


