@import "./variables.styl"

.intro


  .module
    display flex
    margin-top 2.4rem
    margin-left 2.4rem

    .index
      width $index-width
      font-size $font-size_200
      font-family IBM Plex Sans

      padding-top $index-padding-top-adjustment
  
  .landing
    min-height 100vh
    margin-top 0

    .content
      display flex
      flex-direction column
      justify-content center

    

  .content

    p
      width $content-width

    .blurb
      font-style italic

  .coverImage
    max-width 80rem
    // margin-bottom 3.6rem

  hr
    border-bottom 3px solid $black
   