@import "./variables.styl"

.intro


  .module
    display flex
    margin-top 2.4rem
    margin-left 2.4rem

    .index
      $index()
  
  .landing
    min-height 100vh
    margin-top 0
    // background-color #fab60a
    

    .content
      display flex
      flex-direction column
      justify-content center

      .blurb
        font-style italic
        margin-top 2.4rem

  #how
    .content
      width $content-width

  .module
    p
      &:first-of-type
        margin-top 0


  .coverImage
    max-width 80rem
    margin-right 2.4rem
    // margin-bottom 3.6rem

  hr
    // margin-top 0
    border-bottom 3px solid $black

  .smallBreak
    border-bottom 1px solid $grey-200
   
.mutedColor
  color $grey-400

.panel
  padding 2.4rem


.button 
  cursor pointer
  vertical-align sub
  margin-left 0.6rem

.unselected
  color $grey-200

.selected
  cursor default
  pointer-events none

.icon
  vertical-align sub