@import "./variables.styl"

.panelContainer
  // border-left 1px solid $black
  display flex
  // padding 2.4rem
  position fixed
  right 0 
  top 0 
  bottom 0

  z-index 10

  background-color $background-color

  width $content-width

  hr
    border-bottom 1px solid $grey-200
    width 100%

  .handle
    margin 0
    border-left 5px solid $black
    cursor: w-resize;
    position absolute
    top 0 
    bottom 0  
    z-index 100

    width auto


.infoContainer
  margin 2.4rem

  .footnoteNum
    color $red

.introContainer
.infoContainer
  margin-top 4.8rem
  max-width $content-width



.nav
  $nav()

  position unset

  width $content-width

  text-transform uppercase
  font-family $sans

  display flex
  justify-content space-between

  box-sizing border-box
  right 0

  span
    height 2.4rem

  .navButtons

    span
      margin-left 1.2rem

    .navButton
      cursor pointer
      color $grey-200

    .selected
      cursor default
      color $black

  // .navButtons


.mutedColor
  color $grey-400