@import "./variables.styl"

.panelContainer
  // border-left 1px solid $black
  display flex
  // padding 2.4rem
  position fixed
  right 0 
  top 0 
  bottom 0

  z-index 10

  background-color $background-color

  width $content-width

  hr
    border-bottom 1px solid $grey-200
    width 100%

  .handle
    margin 0
    border-left 5px solid $black
    cursor: w-resize;
    position absolute
    top 0 
    bottom 0  
    z-index 100

    width auto


.infoContainer
  margin 2.4rem
  max-width $content-width

  .footnoteNum
    color $red


.introContainer
  height 95%
  overflow-y auto
  width 100%

.textarea
  width 100%
  background-color $background-color
  // height 12rem
  font-size $font-size_200
  font-family $sans
  resize none
  border-radius 0
  box-sizing border-box
  border 1px solid $grey-200

  &:focus
    outline none
    border 1px solid $black
    box-shadow 0
    caret-color $red

.button
  $button()
  float right



.nav
  $nav()
  padding 0.6rem 1.2rem

  width $content-width

  text-transform uppercase
  font-family $sans

  display flex
  justify-content space-between

  box-sizing border-box
  right 0

  span
    height 2.4rem

  .navButtons

    span
      margin-left 1.2rem

    .deselected
      cursor pointer
      color $grey-200

    .selected
      cursor default
      pointer-events none
      color $black

  // .navButtons


.mutedColor
  color $grey-400