
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tomorrow:ital,wght@0,300;0,600;1,300;1,600&display=swap');

@import "./variables.styl"

:root 
  font-size 62.5%

body
  font-family IBM Plex Sans
  font-size $font-size_400
  margin 0

  background-color #faf8ed
  line-height 1.5

h1
h2
  margin-top 0

h1
  font-size $font-size_800

h2 
  font-size $font-size_600

blockquote
  font-size $font-size_800

hr
  border 0