
$index-width = 4.8rem
$content-width = 48rem
$broad-width = 60rem

$index-padding-top-adjustment = 0.2rem

$font-size_200 = 1.6rem
$font-size_400 = 2.1rem
$font-size_600 = 2.4rem
$font-size_800 = 3.6rem

$grey-200 = #d1d1c7
$grey-400 = #94948d
$black = #1c1c1b
$red = #BF2128
$background-color = #faf8ed

$index()
  width $index-width
  font-size $font-size_200
  font-family IBM Plex Sans

  padding-top $index-padding-top-adjustment

  color $grey-200
